<section>
	<div class="w-container mt-32">
		<div>
			<div class="mx-auto max-w-5xl">
				<h2 class="mb-10 text-center font-heading text-3xl uppercase text-white md:text-4xl lg:text-5xl">
					<span class="text-brand-accent">95% магазинов</span>
					заказывают мебель из Китая и не только в России, но весь остальной мир!
				</h2>
			</div>
			<div class="relative flex flex-col justify-between gap-10 xl:flex-row">
				<div class="relative flex w-full justify-end xl:w-1/2">
					<div class="overflow-hidden rounded-xl bg-[#3D3D3D] p-5 md:rounded-3xl md:p-10 2xl:w-[90%]">
						<p class="mb-4 text-2xl text-white">Онлайн покупка мебели из РФ, Европы и Китая</p>
						<ul class="about-list text-white">
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Ограниченный выбор на сайтах. Большинство фабрик РФ предлагает 5-10 стандартных однообразных моделей.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Нельзя оценить заранее качество изделий и материалов.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Большой риск получить мебель, не соответствующую ожиданиям.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Приходится слепо доверять отзывам о производителе или посреднике.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Необходимо заказывать мебель, сантехнику и свет из разных магазинов и переплачивать за доставку.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Известные и надежные европейские бренды на сегодняшний день недоступны к прямому заказу из РФ.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Переплата от 30 до 60% если вы покупаете у дистрибьютора, а не у производителя напрямую.</p>
							</li>
						</ul>
					</div>
					<div data-aos-duration="500" data-aos-delay="1000" data-aos="zoom-in" class="absolute bottom-0 right-0 z-10 w-full xl:w-[130%]">
						<img src="/img/bg/about-1.png" class="w-full" alt="" />
					</div>
				</div>
				<div class="relative flex w-full xl:w-1/2">
					<div class="overflow-hidden rounded-xl bg-white p-5 md:rounded-3xl md:p-10 2xl:w-[90%]">
						<p class="mb-4 text-2xl text-black">Мебельный тур в Китай с РосЭкспресс</p>
						<ul class="about-list text-black">
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Прямой доступ к фабрикам-производителям и тысячам вариантов качественной мебели.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Доступ к эксклюзивным коллекциям мебели, не выставленным на продажу онлайн.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Вы лично удостоверитесь в высоком качестве: оцените материалы и рассмотрите каждую деталь.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Проверите мебель в реальных условиях. Сможете сесть на стулья, раскрыть ящики комода, разложить диван.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Купите в ходе тура всё необходимое для комплектации интерьера под ключ.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Погрузитесь в атмосферу, традиции и уникальную культуру Китая.</p>
							</li>
							<li>
								<div class="icon">
									<img src="/img/icons/close.png" alt="" />
								</div>
								<p>Покупка напрямую от фабрики = экономия в 2-5 раз. Без посредников и скрытых расходов. Чем больше объём мебели в вашем заказе, тем больше ваша выгода!</p>
							</li>
						</ul>
					</div>
					<div data-aos-duration="500" data-aos-delay="1500" data-aos="zoom-in" class="absolute bottom-0 left-0 z-10 w-full xl:w-[150%]">
						<img src="/img/bg/about-2.png" class="w-full" alt="" />
					</div>
				</div>
				<div class="bottom-5 z-40 flex justify-center xl:absolute xl:left-1/2 xl:-translate-x-1/2">
					<div class="flex items-center rounded-full bg-white px-10 py-8">
						<p class="mr-3 text-sm xl:mr-5">
							Нужна помощь специалиста?
							<br />
							Задайте свой вопрос
						</p>
						<div class="flex gap-3">
							<a href="" class="inline-block">
								<img src="/img/icons/telegram.svg" alt="" />
							</a>
							<a href="" class="inline-block">
								<img src="/img/icons/vk.svg" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
