<nav class="mobile-nav">
	<ul>
		<li><a href="/index.html">Главная</a></li>
		<li><a href="/about.html">О нас</a></li>
		<li><a href="/menu.html">Наши проекты</a></li>
		<li><a href="/contacts.html">Контакты</a></li>
	</ul>
	<div class="mx-auto my-10 h-px w-[150px] bg-brand-accent"></div>
	<div class="text-center">
		<span class="block font-heading text-2xl text-brand-accent">Контакты</span>
		<a class="mt-2 block text-sm" href="">Суконная слобода, улица Нурсултана Назарбаева, 27</a>
		<a class="mt-2 block text-sm" href="tel: ">8 (800) 333-89-01</a>
	</div>
	<div class="mt-5 flex items-center justify-center space-x-3">
		<a class="inline-block" href=""><img src="/img/icons/telegram.svg" alt="" /></a>
		<a class="inline-block" href=""><img src="/img/icons/youtube.svg" alt="" /></a>
		<a class="inline-block" href=""><img src="/img/icons/vk.svg" alt="" /></a>
	</div>
</nav>
