<header class="top-panel bg-brand-dark">
	<div class="w-container py-5">
		<nav class="flex items-center justify-between">
			<div class="flex items-center">
				<a href="" class="mr-4 inline-block">
					<img src="/img/icons/logo.svg" class="w-32 xl:w-40 2xl:w-44" alt="" />
				</a>
				<div class="hidden text-sm text-brand-accent xl:block">
					Индивидуальные
					<br />
					мебельные туры в Китай для
					<br />
					частных клиентов и бизнеса
				</div>
			</div>
			<div class="flex items-center justify-between space-x-7 xl:space-x-10 2xl:space-x-14">
				<div class="hidden text-sm xl:block">
					<p class="text-gray-100">E-mail:</p>
					<a href="mailto: rosexpress-msk@yandex.ru" class="inline-block border-b border-dashed border-brand-accent text-brand-accent">rosexpress-msk@yandex.ru</a>
				</div>
				<div class="hidden items-center space-x-5 xl:flex">
					<a href="" class="network-icon">
						<img src="/img/icons/youtube.svg" alt="" />
					</a>
					<a href="" class="network-icon">
						<img src="/img/icons/telegram.svg" alt="" />
					</a>
					<a href="" class="network-icon">
						<img src="/img/icons/vk.svg" alt="" />
					</a>
				</div>
				<a href="tel: 8 (800) 333-89-01" class="hidden text-right lg:inline-block">
					<p class="font-heading text-lg text-white xl:text-xl">8 (800) 333-89-01</p>

					<p class="inline-block border-b border-dashed border-brand-accent text-right text-sm text-brand-accent">Обратный звонок</p>
				</a>
				<button class="hamburger block xl:hidden"></button>
			</div>
		</nav>
	</div>
</header>
