<div class="w-container mt-32 pb-20 xl:pb-44">
	<div>
		<div class="mx-auto mb-24 max-w-5xl text-center" data-aos-duration="500" data-aos-delay="1000" data-aos="fade-up">
			<h2 class="mb-5 font-heading text-3xl uppercase text-white md:text-4xl lg:text-5xl">
				<span class="text-brand-accent">Мебельные туры</span>
				в Фошань под ключ
			</h2>
			<p class="mx-auto max-w-lg text-lg text-white">
				Предоставляем
				<span class="text-brand-accent">полный спектр услуг</span>
				и несём полную ответственность на каждом этапе:
			</p>
		</div>
		<div class="flex flex-col items-center">
			<div class="relative z-30 flex w-[45%] items-center xl:hidden">
				<div class="relative">
					<div class="relative z-20">
						<img src="/img/bg/women.png" alt="" />
					</div>
					<div class="absolute left-1/2 top-1/2 z-10 h-[200px] w-[200px] -translate-x-1/2 -translate-y-1/2 rounded-full border border-brand-accent md:h-[350px] md:w-[350px] 2xl:h-[450px] 2xl:w-[450px]"></div>
					<div class="absolute left-1/2 top-1/2 z-10 h-[400px] w-[400px] -translate-x-1/2 -translate-y-1/2 md:h-[600px] md:w-[600px] 2xl:h-[800px] 2xl:w-[800px]">
						<img src="/img/bg/ellipse.png" alt="" />
					</div>
				</div>
			</div>
			<div class="relative flex flex-col justify-between gap-10 md:flex-row">
				<div class="relative z-30 w-full space-y-14 md:w-1/2 xl:w-1/3">
					<div class="step">
						<div class="step__num">
							<div class="circle">
								<div class="line">
									<svg class="w-[320px]" width="385" height="56" viewBox="0 0 385 56" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 1H339C363.853 1 384 21.1472 384 46V56" stroke="#F0D683" />
									</svg>
								</div>
							</div>
							<span>01</span>
						</div>
						<p class="step__heading">Организация поездки</p>
						<p class="step__description">От оформления визы до бронирования гостиницы</p>
					</div>
					<div class="step overflow-hidden">
						<div class="step__num">
							<div class="circle">
								<div class="line">
									<svg class="w-[280px]" width="384" height="110" viewBox="0 0 384 110" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 1H248.534C273.387 1 293.534 21.1472 293.534 46V64C293.534 88.8528 313.681 109 338.534 109H384" stroke="#F0D683" />
									</svg>
								</div>
							</div>
							<span>02</span>
						</div>
						<p class="step__heading">Контроль качества</p>
						<p class="step__description">Не просто оформляем, а выполняем тщательную проверку: на складе производителя и перед отправкой. Предоставляем вам видео и фотоотчёт перед отправкой</p>
					</div>
					<div class="step">
						<div class="step__num">
							<div class="circle">
								<div class="line">
									<svg class="w-[320px]" width="385" height="100" viewBox="0 0 385 100" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 1H251.061C275.914 1 296.061 21.1472 296.061 46V55.0305C296.061 79.3142 315.747 99 340.031 99V99C364.314 99 384 79.3142 384 55.0305V17" stroke="#F0D683" />
									</svg>
								</div>
							</div>
							<span>03</span>
						</div>
						<p class="step__heading">Оформление документов</p>
						<p class="step__description">Готовим все сопроводительные бумаги, выполняем растаможивание и доставляем товары прямо до вашей двери</p>
					</div>
				</div>
				<div class="relative z-30 hidden w-[45%] items-center xl:flex">
					<div class="relative">
						<div class="relative z-20">
							<img src="/img/bg/women.png" alt="" />
						</div>
						<div class="absolute left-1/2 top-1/2 z-10 h-[350px] w-[350px] -translate-x-1/2 -translate-y-1/2 rounded-full border border-brand-accent 2xl:h-[450px] 2xl:w-[450px]"></div>
						<div class="absolute left-1/2 top-1/2 z-10 h-[600px] w-[600px] -translate-x-1/2 -translate-y-1/2 2xl:h-[800px] 2xl:w-[800px]">
							<img src="/img/bg/ellipse.png" alt="" />
						</div>
					</div>
				</div>
				<div class="relative z-30 flex w-full flex-col items-end space-y-14 md:w-1/2 xl:w-1/3">
					<div class="step-right">
						<div class="step-right__num">
							<div class="circle">
								<div class="line">
									<svg width="385" height="56" viewBox="0 0 385 56" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M385 1H46C21.1472 1 0.999983 21.1472 0.999983 46V56" stroke="#F0D683" />
									</svg>
								</div>
							</div>
							<span>04</span>
						</div>
						<p class="step-right__heading">Транспортировка</p>
						<p class="step-right__description">Перевозим собственной ТК. Гарантируем, что все будет доставлено без повреждений</p>
					</div>
					<div class="step-right overflow-hidden">
						<div class="step-right__num">
							<div class="circle">
								<div class="line">
									<svg class="w-[300px]" width="384" height="110" viewBox="0 0 384 110" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M384 1H135.466C110.613 1 90.4662 21.1472 90.4662 46V64C90.4662 88.8528 70.319 109 45.4662 109H0" stroke="#F0D683" />
									</svg>
								</div>
							</div>
							<span>05</span>
						</div>
						<p class="step-right__heading">Персональный менеджер-переводчик</p>
						<p class="step-right__description">Более 10 лет опыта индивидуального подбора мебели</p>
					</div>
					<div class="flex justify-end">
						<button class="btn-primary">забронировать тур</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
