<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/app.css" rel="stylesheet" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<title>РоссЭкспресс</title>
	</head>
	<body>
		<div>
			<!-- <include src="../partials/nav.html"></include> -->
			<button class="open-modal fixed bottom-10 right-5 z-30 flex aspect-square h-14 w-14 animate-bounce items-center justify-center rounded-full bg-brand-accent p-4 text-white shadow-2xl lg:right-10 2xl:bottom-14 2xl:h-20 2xl:w-20">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#474747" viewBox="0 0 256 256"><path d="M232,128A104,104,0,0,1,79.12,219.82L45.07,231.17a16,16,0,0,1-20.24-20.24l11.35-34.05A104,104,0,1,1,232,128Z"></path></svg>
				<span class="absolute inset-0 inline-flex h-full w-full animate-ping rounded-full bg-brand-accent opacity-70"></span>
			</button>
			<block name="content"></block>
			<!-- <include src="../partials/footer.html"></include> -->
		</div>
		<script src="/app.js"></script>
	</body>
</html>
